planning_pipelines:
  pipeline_names:
    - ompl

default_planning_pipeline: ompl

ompl:
  planning_plugin: ompl_interface/OMPLPlanner
  request_adapters: "default_planner_request_adapters/AddRuckigTrajectorySmoothing default_planner_request_adapters/AddTimeOptimalParameterization default_planner_request_adapters/ResolveConstraintFrames default_planner_request_adapters/ValidateWorkspaceBounds default_planner_request_adapters/CheckStartStateBounds default_planner_request_adapters/CheckStartStateCollision"
  start_state_max_bounds_error: 0.1

arm:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRT
    - PRM
    - EST
    - KPIECE
  projection_evaluator: joints(j1,j2)

planner_configs:
  RRTConnect:
    type: geometric::RRTConnect
    range: 0.0
  RRT:
    type: geometric::RRT
    range: 0.0
    goal_bias: 0.05
  PRM:
    type: geometric::PRM
    max_nearest_neighbors: 10
  EST:
    type: geometric::EST
    range: 0.0
    goal_bias: 0.05
  KPIECE:
    type: geometric::KPIECE
    range: 0.0
    goal_bias: 0.05
    border_fraction: 0.9
